* {
    font-family: HelvNeueOrange, Helvetica Neue, Helvetica, Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
}

body {
    width: 50%;
    margin: auto;
    font-size: .9em;
}
header, section {
    margin-bottom: 40px;
}

a {
    color: black;
}
header {
    background-image: url(../images/background.svg);
    text-align: right;
    overflow: hidden;
    font-size: 1.4em;
}
#top-name {
    float: left;
    background-color: rgba(249, 202, 80, 1);
    border-radius: 0px 20px 20px 0px;
    padding: 20px 25px 15px 25px; 
    width: 33%;
    text-align: center;
}
#top-name p { 
    display: inline;
    margin: 0px; 
}
#top-job {
    float: right;
    padding: 20px 25px 15px 25px; 
}

#content {
    overflow:hidden;
    width: 100%;
}

.column {    
  float: left;
}

#left-column {
    width: 30%;
    padding-right: 5%;
    font-size: 0.8em;
}

.left-column-block {
    margin-bottom: 30px;
    padding: 10px 0px 0px 10px;
    position: relative;
}
.left-column-block h3 {
    font-size: 1.4em;
    margin-bottom: 3px;
}
.left-column-block img {
    display: block;
    margin: 0 auto;
}
#contact {
    text-align: center;
    font-size: 1.2em;
    padding-top: 30px;
    padding-bottom: 30px;
}
#contact a {
    font-size: .8em;
}

.left-column-block-background {
    position: absolute;
    width:100%;
    padding-right: 10px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image:  url(../images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    z-index: -1;
}
.left-column-block-content {
    padding: 5px;
}
.left-column-block p {
    margin: 5px;
}
#right-column {
    width: 70%;   
    font-size: 0.9em; 
}
#right-column h2 {
    font-weight: 300;
    margin-bottom: 0.7em;
    font-size: 1.6em;
}
.chronology-bar {
    position: absolute;
    width:10px;
    height: 100%;
    left: 0px;
    top: 0px;
    background-image:  url(../images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    z-index: -1;
    text-shadow:rgba(249, 202, 80, 1) 1px 0 10px;
}
.chronology-bar-start {
    position: absolute;
    transform: rotate(-90deg);
    bottom: 0px;  
    left: -2px;
}
.chronology-bar-end {
    position: absolute;
    transform: rotate(-90deg);
    top: 0px;      
    right: -6px;
}
#experiences h2 {
    margin-top:0px;
}
#formations {
    margin-left: -20px;
    margin-right: -20px;
    padding: 10px 20px;
    background-image:  url(../images/background.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
#formations h2 {
    font-weight: 800;
}
.right-column-section {
    margin-bottom: 20px;
}
.right-column-block {
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
.right-column-block-content {
    padding: 15px 15px 15px 30px;
    text-align: justify;
}
.right-column-block-content p {
    margin: 5px;
}
.right-column-block-content ul {
    border-left: thick double rgba(249, 202, 80, 1);
    margin: 10px 0px 0px 5px;
    padding-left: 7px;
    list-style-type: none;
}
.right-column-block-content li {
    margin-bottom: 5px;
}
.experience-date {
    font-weight: 700;
}
.experience-title {
    margin-bottom: 10px;
}
.experience-place {
    margin: 0px;
    display: inline;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.125;
}
.experience-project {
    float: right;
    margin: 0px;
    font-size: .875rem;
    line-height: 1.125;
    font-weight: 300;
    font-style: italic;
}
.experience-function {
    font-weight: 700;
    margin: 10px 0px 5px 0px;
    font-size: .9rem;
}
footer {
    background-image: url(../images/background.svg);
    font-size: .9em;
    color: black;
    text-align: center;
    padding: 30px;
}
footer p {
    margin: 10px auto;
}

@media (max-width: 768px) {
    body {
        width: 95%;
    }
    #contact {
        height : 240px;
    }
    #contact img {
        float : left;
        margin-left: 30px;
    }
    #contact .left-column-block-content {
        padding: 25px 15px;
    }
    #left-column, #right-column, footer{
        width: 100%;
        font-size: 1.5em;
    }
    .left-column-block {
        padding: 20px 10px 20px 10px;
    }
    .experience-place {
        font-size: 1.2rem;
    }
    .experience-project {
        font-size: 1.2rem;
    }
    .experience-function {
        font-size: 1.2rem;
    }
}
    

@media print { 
    @page { 
        margin: 2cm 3cm 2cm 3cm; 
    }
    * {
        -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
        color-adjust: exact !important;  /*Firefox*/
    }          
    body {
        font-size: 1em;
    }
    header {
        font-size: 1.7em;
    }
    #left-column {
        font-size: 1.2em;
    }
    .left-column-block h3 {
        font-size: 1.4em;
    }
    #contact {
        font-size: 1.1em;
    }
    #right-column {
        font-size: 1.3em; 
    }
    #right-column h2 {
        font-size: 1.7em;
    }
    .experience-place {
        font-size: 1.5rem;
    }
    .experience-project {
        font-size: 1.4rem;
    }
    .experience-function {
        font-size: 1.4rem;
    }
    footer {
        font-size: 1.2em;
    }
}